body {
  text-align: center;
      background: rgb(255, 201, 244);
      color: rgb(252, 253, 255);
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4CsHnS_WKBTn70vWAbT2lUpDQgviDd2FwPw&s");
      }
    
  img { 
  height: 20%;
  width: 20%;
  }
  
  h1 { 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(178, 178, 179);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 1px 1px 1px rgb(213, 246, 255);
     }
   h2 { 
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      background: rgb(177, 177, 177);
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 2rem;
       }
     h3 { 
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        background: rgb(76, 93, 104);
        color: rgb(213, 224, 248);
        font-weight: bold;
         }
         